@model OTeaching.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #mydiv {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 30em;
            height: 18em;
            margin-top: -9em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em; /*set to a negative number 1/2 of your width*/
            /*border: 1px solid #ccc;
            background-color: #f3f3f3;*/
        }
    </style>
    @*<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div id="mydiv">
        <div class="container">
            <div class="row">
                <div class="col col-sm-12">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { }))
                    {
                    <div class="form-group row">
                        <img src="~/Images/ot.jpg" style="width: 42%;" />
                    </div>
                        <div class="form-group row">
                            <label for="txtName" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-3">
                                @*<input type="text" class="form-control" id="txtName" placeholder="Name">*@
                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtName" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-3">
                                @*<input type="text" class="form-control" id="txtEmail" placeholder="Email">*@
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtMobile" class="col-sm-2 col-form-label">Role</label>
                            <div class="col-sm-3">
                                @*<input type="text" class="form-control" id="txtMobile" placeholder="Mobile">*@
                                @Html.DropDownList("Role", new List<SelectListItem>
                                    { new SelectListItem(){ Value="0",Text="Admin" },
                                     new SelectListItem(){ Value="1",Text="Staff" } ,
                                    new SelectListItem(){ Value="2",Text="Student" }
                                    }, "-- Select Role --", new { @class = "form-control" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        <br /><br />
                        if (Model != null)
                        {
                            if (ViewBag.Status == 1)
                            {
                                <span style="color:green">Thanks for your feedback !!</span>
                            }
                            else
                            {
                                <span style="color:#951111">Something went wrong !!</span>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
