
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyProfile</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>

<li class="nav-item">
    @*@Html.ActionLink("Home", "Home", "Staff")
    @Html.ActionLink("PatientRegistration", "AddPatient", "Patient")
    <a class="nav-link text-dark" asp-area="" asp-controller="Patient" asp-action="AddPatient">PatientRegistration</a>*@
</li>
