@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/engine1/jquery.js"></script>
<div id="right">
    <div id="wowslider-container1">
        <div class="ws_images">
            <a href="#"><img src="~/Images/images/7.jpg" alt="" title="" id="wows0" /></a>
            <a href="#"><img src="~/Images/images/1.jpg" alt="" title="" id="wows1" /></a>
            <a href="#"><img src="~/Images/images/6.jpg" alt="" title="" id="wows2" /></a>
            <a href="#"><img src="~/Images/images/3.jpg" alt="" title="" id="wows3" /></a>
            <a href="#"><img src="~/Images/images/8.jpg" alt="" title="" id="wows4" /></a>
            <a href="#"><img src="~/Images/images/4.jpg" alt="" title="" id="wows5" /></a>
            <a href="#"><img src="~/Images/images/9.jpg" alt="" title="" id="wows6" /></a>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#wows0" title=""><img src="~/Images/tooltips/7.jpg" alt="" />1</a>
                <a href="#wows1" title=""><img src="~/Images/tooltips/1.jpg" alt="" />2</a>
                <a href="#wows2" title=""><img src="~/Images/tooltips/6.jpg" alt="" />3</a>
                <a href="#wows3" title=""><img src="~/Images/tooltips/3.jpg" alt="" />4</a>
                <a href="#wows4" title=""><img src="~/Images/tooltips/8.jpg" alt="" />5</a>
                <a href="#wows5" title=""><img src="~/Images/tooltips/4.jpg" alt="" />6</a>
                <a href="#wows6" title=""><img src="~/Images/tooltips/9.jpg" alt="" />7</a>
            </div>
        </div>
        <a style="display:none" href="http://wowslider.com">Script Image Slider by WOWSlider.com v1.7</a>
    </div>
    <script type="text/javascript" src="~/Scripts/engine1/script.js"></script>
</div>